.card {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;

  border-radius: 5px;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;

  &__sale {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 35px;
    height: 35px;

    color: aliceblue;
    background-color: rgb(34, 134, 34);
    border-radius: 50%;
  }

  &__image {
    align-self: center;
    height: 200px;
  }
  
  &__title {
    margin-top: 40px;
  
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
  
    transition: color 0.3s;
  
    &:hover {
      color: rgb(108, 201, 201);
    }
  }
  
  &__code {
    margin-top: 4px;
  
    font-size: 10px;
    line-height: 14px;
    color: #616070;
  }
  
  &__item {
    color: #060b35;
  }
  
  &__word {
    font-size: 12px;
    line-height: 18px;
    color: #616070;
  }
  
  &__value {
    font-size: 10px;
    line-height: 14px;
  
    &-current {
      color: #444;
      opacity: 0.5;
      text-decoration: line-through;
    }
  
    &-sale {
      font-weight: bold;
      margin-left: 5px;
      color: #000;
    }
  }
  
  &__rating {
    margin-top: 16px;
  
    display: flex;
    justify-content: space-between;
  }
}



.stars {
  display: flex;

  &__star {
    margin-right: 4px;
    height: 16px;
    width: 16px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
  }

  &--1 :nth-child(-n+1) {
    background-image: url(../images/star-active.svg);
  }
  
  &--2 :nth-child(-n+2) {
    background-image: url(../images/star-active.svg);
  }
  
  &--3 :nth-child(-n+3) {
    background-image: url(../images/star-active.svg);
  }
  
  &--4 :nth-child(-n+4) {
    background-image: url(../images/star-active.svg);
  }
  
  &--5 :nth-child(-n+5) {
    background-image: url(../images/star-active.svg);
  }
}